<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      #DisneyPlus
    </a>
    <a class="panel-block">
      #CameronBoyce
    </a>
    <a class="panel-block">
      #NipseyHustle
    </a>
    <a class="panel-block">
      #HurricanDorian
    </a>
    <a class="panel-block">
      #AntonioBrown
    </a>
  </nav>
</div>
